@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --Primary-color: rgb(114, 189, 92);
}

body{
    background-color: black;
    margin: 0;
    width: 100%;
    font-family: 'poppins';
}

ul{
    list-style-type: none;
}


nav{
    display: none;
}

.navmaindiv{
    padding-top: 1.5em ;
    padding-left: 1.5em ;
    padding-right: .9em ;
    padding-bottom: .3em ;
    display: flex;
    place-content: space-between;

    .logoimg{
        width: 2.5em;
        cursor: pointer;

    }
}

a{
    text-decoration: none;
}

.hero{
    display: block;
    text-align: center;
    //height: 100%;
}


.menu-open{
    transition: margin-bottom .4s,
    margin-top .4s;
    margin-right: .5em;

}

.heromaindiv{
    background-image: url("../resources/background2.jpg");
    //height: 100%;
    padding: .2em;
    margin-top: 1.1em;
    margin: 0.5em;
    padding-top: 2.7em;
    background-size: cover;
    border-radius: 11px;
}

.textbox{
    display: block;
    //background-color: pink;
    margin-bottom: 0;
}

.subtext{
    font-size: 01em;
    color: white;
    text-shadow: (4.38843px 3.08264px 2.38843px rgba(0, 0, 0, 0.7));
    margin: 3.3em;
    margin-top: 0;
}

.bigtextboy{    
    font-size:4em;
    width: auto;
    text-align: center;
    color: var(--Primary-color);
    font-weight: bold;
    margin: 0;
    margin-bottom: 19px;
    text-shadow: (4.38843px 3.08264px 2.38843px rgba(0, 0, 0, 0.7));
    cursor: default;
  
}

form{
    display: block;
}

label{
    display: block; 
}

span{
    display: none
}

.fresh{
    display: none;
}

p{
    text-align: center;
    margin-bottom: 10px;
}

input{
    width: 73%;
    font-size: 15px;
    border-radius: 15px;
    border-style: solid;
    padding: 12px;
    border: none;
}

input:focus-visible{
    border: 3px red;
}

.button{
    font-weight: bold;
    font-size: 1.1em;
    display: inline-block;
    padding: 1em 3.8em;
    color: white;
    background-color: var(--Primary-color);
    border: none;
    margin: 0;
    border-radius: 1.7em;
    text-align: center;
    transition: background-color .4s;
    margin-top: 32px;
    margin-bottom: 2em;


    &:hover{
        background-color: rgb(70, 124, 54);
    }
    &:active{
        background-color: rgb(43, 82, 31);
    }
}

nav.menu-btn{
    display: block;
}

nav{
    background-color: rgb(0, 0, 0);
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    padding: 1em;
    padding-top: 2em;

    ul{
        li{
            a{
                color: var(--Primary-color);
                transition: color .4s;

                &:hover{
                    color: white;
                }
            }
        }
    }

    .right{
        display: block;
        //background-color: violet;
        align-items: right;
    }

    .menu-exit{
        display: inline-block;
        margin-bottom: 1.9em;
        margin-left: 82%;
        width: 2em;
        cursor: pointer;
        
    }

    .inputfield{
        width: max-content;
        //height: 2.4em;
        padding-left: .9em;
        border-radius: 15px;
        font-size: 1em;
        border-width: 2px;
        border-style: solid;
        background-color: rgb(228, 227, 227);
        border-color: rgb(165, 162, 162);

    }

    .search-button{
        display: none;
    }


    .Primary{
        margin-top: .7em;
    }

    li{
        a{
            color: rgb(0, 0, 0);
            text-decoration: none;
            display: block;
            padding: .6em;
            font-size: 1.9em;
            text-align: right;
            transition: font-weight .2s;
            cursor: pointer;
        }
        transition: font-weight .4s;

        a:hover{
            
            font-weight: bolder;
        }
        &:active{
            font-weight: lighter;
        }
    }
}

@media only screen and (min-width: 576px){

    input{
        width: 55%;
    }
}

@media only screen and (min-width: 1182px){

    input{
        width: 35%;
    }
}

@media only screen and (min-width: 1024px){
    section{
        width: fill;
        margin: 0 auto;
    }

    .menu-open{
        display: none;
    }

    .navmaindiv{
        display: flex;
        justify-content: space-evenly;
        padding-left: 4em;
        padding-right: 3em;
        padding-top: 1em;
        padding-bottom: 0;
    }

    .navmaindiv nav{
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: 3em;
        width: 90%;
        align-items: center;
        padding: 0;


        .right{
            position: absolute;
            right: 0;
            display: block;
            height: fit-content;
            margin: 0;
            margin-right: 4em;
            align-items: center;

            .inputfield{
                margin: 0;
                margin-top: 8px;
                align-self: center;
                font-size: .9em;
                width: 17em;
            }
        }

        ul{
            display: flex;
            padding: 0;

            li{
                a{
                    padding: .1em 1.3em;
                    font-size: 1.1em;
                }
            }
        }

        .main{
            font-size: 1.4em;
            margin-top: -5px;
        }
    


        .menu-exit{
        display: none;
        }

        display: flex;
    }

    .buttonholder{
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 2em;
        margin-left: 0;

        button{
            padding: 1em 3em;
        }
    }
   
    .hero{
        display: block;
        text-align: center;
        //padding-left: 4.6em;
    }

    .heromaindiv{
        margin-top: 5px;
        padding-top: 3.4em;
    }


    span{
        display: none;
    }

    .bigtextboy{
        font-size: 5em;
        text-align: center;
        
    }

    input{
        width: 40%;
    }
}

@media only screen and (min-width: 1200px){

    input{
        width: 35%;
    }
}